{% extends "base.html" %}

{% block title %}Goals - Ali Tracks{% endblock %}

{% block content %}
<h1>My Goals</h1>
<form method="POST" action="/create-goal">
    <div class="mb-3">
        <label for="goal_name" class="form-label">Goal Name</label>
        <input type="text" class="form-control" id="goal_name" name="goal_name" required>
    </div>
    <div class="mb-3">
        <label for="target_amount" class="form-label">Target Amount</label>
        <input type="number" class="form-control" id="target_amount" name="target_amount" required>
    </div>
    <button type="submit" class="btn btn-primary">Create Goal</button>
</form>

<h2>Current Goals</h2>
<ul>
    {% for goal in goals %}
        <li>
            {{ goal.goal_name }}: £{{ goal.current_amount }} / £{{ goal.target_amount }}
            <div class="goal-actions d-flex" style="gap: 10px;">
                <form method="POST" action="/update-goal" style="display:inline-flex;">
                    <input type="hidden" name="goal_id" value="{{ goal._id }}">
                    <input type="number" class="form-control goal-input" id="goal-{{ goal._id }}" name="amount" placeholder="Add to goal" style="width: 130px;">
                    <button type="submit" id="update-btn-{{ goal._id}}" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></button>
                </form>
                <form method="POST" action="/delete-goal" style="display:inline-flex;">
                    <input type="hidden" name="goal_id" value="{{ goal._id }}">
                    <button type="submit" class="btn btn-danger"><i class="fa-solid fa-trash"></i></button>
                </form>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}