{% extends "base.html" %}

{% block title %}Monthly Saving Tracker{% endblock %}

{% block content %}
    <div class="container">
        <h1>Monthly Saving Tracker</h1>
        <p>Click on the month to add £5 each month that you saved to complete the challenge.</p>
    </div>
        <div class="row">
            <div class="col-4">
                <button id="january" class="month-button text btn btn-primary" onclick="addAmount('january')"><span class="text">January</span></button>
            </div>
            <div class="col-4">
                <button id="february" class="month-button text btn btn-primary" onclick="addAmount('february')"><span class="text">February</span></button>
            </div>
            <div class="col-4">
                <button id="march" class="month-button text btn btn-primary" onclick="addAmount('march')"><span class="text">March</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button id="april" class="month-button text btn btn-primary" onclick="addAmount('april')"><span class="text">April</span></button>
            </div>
            <div class="col-4">
                <button id="may" class="month-button text btn btn-primary" onclick="addAmount('may')"><span class="text">May</span></button>
            </div>
            <div class="col-4">
                <button id="june" class="month-button text btn btn-primary" onclick="addAmount('june')"><span class="text">June</span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <button id="july" class="month-button text btn btn-primary" onclick="addAmount('july')"><span class="text">July</span></button>
            </div>
            <div class="col-4">
                <button id="august" class="month-button text btn btn-primary" onclick="addAmount('august')"><span class="text">August</span></button>
            </div>
            <div class="col-4">
                <button id="september" class="month-button text btn btn-primary" onclick="addAmount('september')"><span class="text">September</span></button>
            </div> 
        </div>
        <div class="row">
            <div class="col-4">
                <button id="october" class="month-button text btn btn-primary" onclick="addAmount('october')"><span class="text">October</span></button>
            </div>
            <div class="col-4">
                <button id="november" class="month-button text btn btn-primary" onclick="addAmount('november')"><span class="text">November</span></button>
            </div>
            <div class="col-4">
                <button id="december" class="month-button text btn btn-primary" onclick="addAmount('december')"><span class="text">December</span></button>
            </div>    
        </div>
    </div>
    <div class="container total-container">
        <p id="total" >Total: £0</p>
    </div>
    <div class="container" id="reset-container">
        <button id="reset" class="reset-btn btn-danger" onclick="resetTotal()"><span class="text">Reset Total</span></button>
    </div>
    <div>
        <p>Once complete hit the reset total button to start again.</p>
    </div>
    </div>
{% endblock %}